node_modules/
.pnpm-store/
target/
target-coverage/
out/
dist/
**/.vitepress/cache/
release/
test-results/
playwright-report/
coverage/
**/coverage/
*.node
*.log
.DS_Store


# APM dependencies
apm_modules/
.agents/skills/
